@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --primary: #1F2833;
    --secondary: #00BFA6;
    --tertiary: #f50057;
    --gray: #f3f4f6;
    --dark-gray: #6B7280;
}
body{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;
    /*font-family: 'Open Sans', sans-serif;*/
}
.right-aligned {
    text-align: right;
}


/*==============================*/
/*@Containers*/
.container-fluid {
    padding: 0rem 1rem;
}
.container-center {
    margin: auto;
    padding: 0rem 1rem;
    max-width: 700px;
}


/*==============================*/
/* links*/
.link-primary {
    background-color: var(--secondary);
    color: var(--primary);
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none; /*To remove the underline from the link*/
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    margin-right: 1.2rem;
}
.link-secondary {
    border: 1px solid var(--secondary);
    color: var(--secondary);
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}
.link-tertiary {
    border: 1.5px solid var(--tertiary);
    color: var(--tertiary);
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;
}
.link {
    color: var(--secondary);
    text-decoration: none;
}
.link-active {
    font-weight: bold;
}


/*==============================*/
/* lists */
.list-unordered-nonBullet {
    list-style: none;
}
.list-item-inline {
    display: inline-block;
    padding: 0rem 0.8rem;
}


/*==============================*/
/* @Navigation */
.navigation {
    background-color: var(--primary);
    padding: 1rem 0rem;
    color: var(--secondary);
    border-bottom-left-radius: 2rem;
}
.navigation .brand {
    font-weight: bold;
}


/*==============================*/
/* footer */
.footer {
    background-color: var(--primary);
    color: white;
    padding: 2rem 0rem 1rem 0rem;
    border-top-right-radius: 2rem;
    text-align: center;
    margin-top: 2rem;
}
.footer-heading {
    font-size: small;
}
.footer ul {
    padding-inline-start: 0px;
}
.footer a {
    text-decoration: none;
    color: white
}


/*==============================*/
/** @HEADER **/
.header {
    color: var(--dark-gray);
    display: block;
    padding: 2rem 0rem;
}
.header img {
    max-width: 350px;
    margin: auto;
    display: block;
}
.heading {
    margin: auto;
    max-width: 450px;
}
.heading-inverted {
    color: var(--primary);
}

/*==============================*/
/** section **/
.section {
    padding: 2rem 0rem;
}
.ow {
    background-color: var(--gray);
}
.section h2{
    color: var(--primary);
}


/*==============================*/
/** logo **/
.logo {
    height: 40px;
    width: 40px;
}


/*==============================*/
/** PROJECT & BLOGs Common **/
.page-heading {
    margin: 0rem;
}
/*==============================*/
/** PROJECT **/
.project-section {
    margin-bottom: 2rem;
}
.date {
    color: var(--dark-gray);
    font-style: italic;
}
.project-heading {
    margin-bottom: 0.5rem;
    color: var(--primary);
}
.project-desc {
    margin-top: 0.2rem;
}


/*==============================*/
/*BLOGS LISTING PAGE*/
.blog-listing-main {
    margin: auto;
    padding: 0rem 1rem;
    max-width: 700px;
    min-height: calc(100vh - 102px - 103px - 185px);
}
.blog-section {
    margin-bottom: 2rem;
    display: flex;
    position: relative;
}
.blog-listing-left {
    width: 30%;
}
.blog-listing-right {
    width: 70%;
}
.blog-listing-img {
    max-width: 90%;
    padding-top: 1.5rem;
    border-bottom-right-radius: 0.5rem;
}
.blog-list-heading {
    margin-bottom: 0.5rem;
}
.blog-link {
    color: var(--secondary);
    text-decoration: none;
    /*transition: color .5s;*/
}
.blog-link:hover {
    color: #009884;
}
.blog-desc {
    margin-top: 0.2rem;
}


/*==============================*/
/** BLOGS **/
.header-cover-img {
    max-width: 700px;
    max-height: 500px;
    margin: auto;
    display: block;
}
.page__footer {
    background-color: #F2F3F3;
    min-height: 153px;
    margin-top: 3rem;
}
